<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RevealEnabled-com.apple.mobilesafari</key>
	<true/>
	<key>RevealEnabled-com.crossutility.quantumult-x</key>
	<true/>
	<key>RevealEnabled-com.apple.springboard</key>
	<false/>
	<key>RevealEnabled-com.apple.Maps</key>
	<true/>
	<key>RevealEnabled-com.apple.mobileslideshow</key>
	<true/>
	<key>RevealEnabled-com.apple.mobilecal</key>
	<true/>
	<key>RevealEnabled-com.burbn.instagram</key>
	<true/>
</dict>
</plist>
